.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modal-container {
    width: 90%;
    height: 80%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modal-title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}

.modal-titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.modal-titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modal-body {
    background-color: var(--quiz-page-questions-bg-color);
    border: 3px solid var(--quiz-page-border-color);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 5%;
}

.modal-body .question-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.question {
    font-size: 1.2rem;
    font-weight: 500;
}

.options-container {
    list-style-type: none;
    padding-left: 20px;
}

.option {
    font-size: 1.1rem;
    font-weight: 400;
}

.option input, label {
    cursor: pointer;
}

.option label {
    display: inline-block;
    width: 60vw;
    max-width: 600px;
}

.option input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--quiz-page-options-bg-color);
    content: "";
    display: inline-block;
    visibility: visible;

    transition: all 0.35s ease;
}

.option input[type="radio"]:hover:after {
    background-color: var(--quiz-page-options-bg-hover-color);
    transform: scale(1.1);
}

.option input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--quiz-page-options-bg-active-color);
    content: "";
    display: inline-block;
    visibility: visible;
}

.modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

@media (min-width: 765px) {
    .modal-container {
        max-width: 900px;
        gap: 60px;
    }

    .modal-title {
        font-size: 2rem;
    }

    .question-container {
        gap: 30px;
        justify-content: space-between;
    }

    .option label {
        max-width: 300px;
    }
}