.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 100px;
}

.quiz-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--quiz-page-text-color);
    padding: 20px 0;
    line-height: 1.4;
}

.title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.title:hover {
    transform: translateY(-5%) scale(1.1);
    cursor: pointer;
    
    transition: all 0.15s ease-in-out;
}

.none {
    display: none;
}